name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check Out
        uses: actions/checkout@v2
      
      - name: Git Semantic Version
        uses: PaulHatch/semantic-version@v4.0.2
        with:
          tag_prefix: "v"
          major_pattern: "(MAJOR)"
          minor_pattern: "(MINOR)"
          format: "${major}.${minor}.${patch}-prerelease${increment}"
          change_path: "Sources/"
          short_tags: true
          bump_each_commit: false
        id: version-step
          
      - name: install dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '5.x'
          
      - name: dotnet build
        run: dotnet build Quartzmin.sln /p:AssemblyVersion=${{steps.version-step.outputs.major}}.${{steps.version-step.outputs.minor}}.0.${{steps.version-step.outputs.patch}} /p:Version=${{steps.version-step.outputs.major}}.${{steps.version-step.outputs.minor}}.0.${{steps.version-step.outputs.patch}}
